html {
    min-height: 100vh;
    min-height: 100%;
}

.main-navbar {
    box-shadow: 0px 0px 10px 0px black;
}

body {
    padding-top: 60px;
    background-color: #224;
    min-height: 100vh;
}

body.login-body {
    display: flex;
    align-content: center;
}

.login-body #login-container.container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #000;
}

body .body-container {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px 0px #000000;
}

.news-page {
    max-width: 700px;
}

.title-background {
    margin-left: -40px;
    margin-right: -40px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 15vh;
}

.title-text {
    color: white;
    font-size: 15vh;
    text-shadow: 0px 0px 20px black;
    text-shadow: 0px 0px 20px black;
}

h1 {
    color: dodgerblue;
    text-align: center;
    padding-top: 30px;
}

h3 {
    color: deepskyblue;
}

.at-a-glance > .col {
    max-width: 233px;
    padding: 10px;
}

.at-a-glance > .col > .figures {
    color: deepskyblue;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
}

.at-a-glance > .col > .expl {
    color: deepskyblue;
    font-size: 15px;
}

.at-a-glance > .col > img {
    width: 100%;
    max-width: 150px;
}

.objectives > .row > .col-1-3 {
    text-align:right;
    display: inline-block;
    width: 33%;
    margin: 0px;
    padding: 10px;
    vertical-align: top;
}

.objectives > .row> .col-2-3 {
    display: inline-block;
    width: 65%;
    margin: 0px;
}

p {
    font-size: 16px;
}

.products > h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.products > h1 > img {
    margin-top: 30px;
}

@media only screen and (max-device-width: 768px) {
    .title-background {
        margin-left: -15px;
        margin-right: -15px;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    
    .title-text {
        font-size: 40px;
        text-align: center;
        width: 100%;
    }
    
    body .body-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.jumbotron-login {
    text-align: left;
    width: 30vw;
    min-width: 330px;
    max-width: 360px;
}

#login-jumbo {
    padding: 30px 60px;
}

.news-item h2 a {
    color: black;
}

.hor-divider {
    height: 1px;
    background-color: lightgrey;
}

.footer {
    padding-top: 20px;
}

.footer p {
    color: white;
}

.pagination-div {
    text-align: center;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pagination {
    display: inline-block;
}

.news-item {
    padding-bottom: 20px;
}