html {
    min-height: 100vh;
    min-height: 100%;
}

.main-navbar {
    box-shadow: 0px 0px 10px 0px black;
}

body {
    padding-top: 60px;
    background-color: #224;
    min-height: 100vh;
}

body.login-body {
    display: flex;
    align-content: center;
}

.login-body #login-container.container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #000;
}

body .body-container {
    padding: 15px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px 0px #000000;
}

.news-page {
    max-width: 700px;
}

.title-background {
    margin-left: -15px;
    margin-right: -15px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 15vh;
}

.title-text {
    color: white;
    font-size: 15vh;
    text-shadow: 0px 0px 20px black;
    text-shadow: 0px 0px 20px black;
}

.jumbotron-login {
    text-align: left;
    width: 30vw;
    min-width: 330px;
    max-width: 360px;
}

#login-jumbo {
    padding: 30px 60px;
}

.news-item h2 a {
    color: black;
}

.hor-divider {
    height: 1px;
    background-color: lightgrey;
}

.footer {
    padding-top: 20px;
}

.footer p {
    color: white;
}

.pagination-div {
    text-align: center;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pagination {
    display: inline-block;
}

.news-item {
    padding-bottom: 20px;
}